input {
	font-size: 3em;
	width: calc(100% - 165px);
	height: calc(100% - 6px);
	border-top: 3px solid purple;
	border-right: 3px solid purple;
}

input[type='submit'] {
	visibility: collapse;
}

.inputWrapper {
	display: flex;
	width: 100%;
	background-color: purple;
}

.placeButton {
	width: 55px;
	height: 55px;
	margin-top: 3px;
}

.attachButton {
	width: 60px;
	height: 55px;
	margin-top: 2px;
}

.recordButton {
	width: 55px;
	height: 55px;
	margin-top: 3px;
}

.pauseButton {
	width: 55px;
	height: 55px;
	margin-top: 3px;
}
