input {
	font-size: 2.5em;
	width: 80%;
	height: calc(100% - 6px);
	border-top: 3px solid purple;
}

input[type='submit'] {
	visibility: collapse;
}

.inputWrapper {
	display: flex;
	width: 100%;
}

.placeButton {
	overflow: hidden;
	width: 50px;
	height: 50px;
}

.attachButton {
	overflow: hidden;
	width: 50px;
	height: 50px;
}
