.contentMessageBox {
	display: inline-block;
	font-size: 15px;
	font-family: Ubuntu;
	flex: 5;
	text-align: left;
	word-wrap: break-word;
}

.time {
	width: auto;
	padding: 1px;
	margin-bottom: 1px;
	flex: 1;
	text-align: right;
	overflow-wrap: normal;
}

.MessageBox {
	background-color: aqua;
	border-radius: 15px;
	width: auto;
	max-width: 30vw;
	padding: 10px;
	margin-top: 15px;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	animation: fadeOut 1s;
}

@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.1;
	}
	90% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

.MessageBox:hover {
	background-color: darkturquoise;
}

.libox {
	box-sizing: border-box;
	padding: 0 10px 10px;
	width: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: row-reverse;
}
